body {
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  background: #4496cca2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffffff,
    #6dd5fa,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffffff,
    #6dd5fa,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
  width: 50rem;
  margin: 0 auto;
  background-color: rgba(241, 240, 240, 0.541);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 20px 20px 20px rgba(156, 156, 156, 0.692);
}

#title {
  width: 100%;
  text-align: center;
}
.tile {
  margin: 2rem;
  width: 8rem;
  height: 8rem;
  background: #06beb5a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #48b1bf8a,
    #06beb5a1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #48b1bf8a,
    #06beb5a1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 3px solid rgba(255, 255, 255, 0.767);
  border-radius: 70px;
  line-height: 1.6em;
  box-shadow: 6px 6px 6px rgba(199, 198, 198, 0.479);
}

.animation {
  transform: rotateY(360deg);
  transition-duration: 0.3s;
}

.animation-reverse {
  transform: rotateY(-360deg);
  transition-duration: 0.8s;
}

h1 {
  color: rgb(253, 253, 253);
  font-size: 6em;
  margin: 30px 0;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 3.2em;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
}
  h2 {
    text-align: center;
    font-size: 3.5em;
    line-height: 1.5em;
  }
li{
  list-style: none;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 4px;
}